@{
    ViewBag.Title = "ANUG :: Services with ServiceStack";

	Bundles.Reference("scripts/pages/Anug.js");
}
<div id="slides">
	@Html.Partial("_01")
	@Html.Partial("_02")
	@Html.Partial("_03")
	@Html.Partial("_04")
	@Html.Partial("_05")
	@Html.Partial("_06")
	@Html.Partial("_07")
	@Html.Partial("_08")
	@Html.Partial("_09")
</div>
@section footer
{
<div class="container">
	<p class="pull-right">
		<img alt="ANUG" src="/Content/images/anug/anug.png"/>
	</p>
</div>
}
