@{
	Bundles.Reference("content/bootstrap.css");
	Bundles.Reference("content/bootstrap-responsive.css");

	Bundles.Reference("scripts/special", "head");
	Bundles.Reference("scripts");
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>@ViewBag.Title</title>
	@Bundles.RenderStylesheets()
	@Bundles.RenderScripts("head")
	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
	<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand">ISO 3166-1</a>
					<nav>
						<div class="nav-collapse">
							<ul class="nav">
								<li>@Html.ActionLink("Home", "Index", "Home")</li>
								<li>@Html.ActionLink("Countries Demo", "Countries", "Home")</li>
								<li>@Html.ActionLink("Translations Demo", "Translations", "Home")</li>
							</ul>
						</div>
					</nav>
					<a class="navbar-text pull-right">Crowdsource-it</a>
				</div>
			</div>
		</div>
	</header>
	<section class="container">
		@RenderBody()
	</section>
	<footer>	
	</footer>
	
	@Bundles.RenderScripts()
</body>
</html>